__pycache__/
cnn/images
/cnn/test1
/cnn/test2
/cnn/testingData/
/cnn/testSet
/cnn/model
/label/HKH740132H
/label/HMH730006H
/label/ICH760014H
/preProcess/image
/preProcess/output
/preProcess/training1
/preProcess/training2
